<form method="POST" action="/update" class="wwc-form-wrapper shadow-sm">
    <h3 class="wwc-form-title">Edit Task</h3>
    <div class="wwc-fields-wrapper d-flex justify-content-between">
        <div class="form-group">
            <label for="todo-title">Title</label>
            <input name="Title" type="text" class="form-control" id="todo-title" aria-describedby="emailHelp"
                placeholder="Enter title..." value="<%= taskStruct.Title %>">
        </div>
        <div class="form-group">
            <label for="todo-date">Limit Date</label>
            <input name="Deadline" type="date" class="form-control" id="todo-date" aria-describedby="emailHelp"
                value="<%=taskStruct.Deadline.Year()%>-<%=taskStruct.MonthFormatted()%>-<%=taskStruct.DayFormatted()%>">
        </div>
    </div>
    <div class="form-group">
        <label for="todo-description">Description</label>
        <textarea name="Description" class="form-control" id="exampleFormControlTextarea1"
            rows="3"><%= taskStruct.Description %></textarea>
    </div>
    <div class="form-group wwc-hidden">
        <input name="ID" type="text" class="form-control" id="todo-id" value="<%= taskStruct.ID %>">
    </div>
    <div class="form-group wwc-hidden">
        <input name="Completed" type="text" class="form-control" id="todo-completed"
            value="<%= taskStruct.Completed %>">
    </div>
    <div class="d-flex justify-content-end">
        <%= if (filterStatus.Completed) { %>
        <a class="btn wwc-cancel-btn" href="/?status=completed">Cancel</a>
        <% } else if (filterStatus.Incompleted) { %>
        <a class="btn wwc-cancel-btn" href="/?status=incompleted">Cancel</a>
        <% } else { %>
        <a class="btn wwc-cancel-btn" href="/">Cancel</a>
        <% } %>
        <input type="hidden" name="_method" value="PUT" />
        <button type="submit" class="btn text-white wwc-create-task-btn">Edit Task</button>
    </div>
</form>