<%= form_for(todo, {action: updatePath(), method: "PUT", class: "wwc-form-wrapper shadow-sm"}) { %>
    <h3 class="wwc-form-title">Edit Task</h3>
		<div class="wwc-fields-wrapper d-flex justify-content-between">
				<%= f.InputTag("Title", {}) %>
				<%= f.InputTag("Deadline", {type: "date", value: todoCurrentDate}) %>
		</div>

        <%= f.TextArea("Description", {rows: 4}) %>
        
        <%= if (isAdmin) { %>
            <%= f.SelectTag("UserID", {label: "Assign To User", options: userOptions }) %>
        <% } %>

        <%= f.InputTag("ID", {id: "todo_id", name: "todo_id", type: "hidden", value: todo.ID}) %>

    <div class="d-flex justify-content-end">
        <a class="btn wwc-cancel-btn" href="<%= hrefCancelBtn(context) %>">Cancel</a>
        <input name="authenticity_token" type="hidden" value="<%= authenticity_token %>">
        <button type="submit" class="btn text-white wwc-create-task-btn">Edit Task</button>
    </div>
<% } %>