<div class="d-flex justify-content-end">
  <%= if (filterStatus.Completed) { %>
  <a class="btn wwc-add-task-btn text-white" href="/new?status=completed">Add Task</a>
  <% } else if (filterStatus.Incompleted) { %>
  <a class="btn wwc-add-task-btn text-white" href="/new?status=incompleted">Add Task</a>
  <% } else { %>
  <a class="btn wwc-add-task-btn text-white" href="/new">Add Task</a>
  <% } %>
</div>

<div class="d-flex justify-content-end">
    <% if (filterStatus.Completed) { %>
    <a class="btn wwc-add-task-btn text-white" href="/new?status=completed">Add Task</a>
    <% } else if (filterStatus.Incompleted) { %>
    <a class="btn wwc-add-task-btn text-white" href="/new?status=incompleted">Add Task</a>
    <% } else { %>
    <a class="btn wwc-add-task-btn text-white" href="/new">Add Task</a>
    <% } %>
  </div>
  <div class="wwc-tasks-container">
    <table class="table table-borderless" id="wwc-task-table">
      <thead class="thead-dark">
        <tr>
          <th class="wwc-task-name wwc-thead-first-element">Task</th>
          <th class="wwc-task-date-and-actions">Complete by</th>
          <th class="wwc-task-date-and-actions">Actions</th>
        </tr>
      </thead>

      <%= if (defaultMsgFlag) { %>

        <%= if (filterStatus.Completed) { %>

        <tr><td colspan="3" id="wwc-notasks-msg">No completed tasks to show</td></tr>

        <% } else if (filterStatus.Incompleted) { %>

        <tr><td colspan="3" id="wwc-notasks-msg">No incompleted tasks to show</td></tr>

        <% } else { %>

        <tr><td colspan="3" id="wwc-notasks-msg">No tasks to show</td></tr>

        <% } %>

      <% } else { %>

        <tbody>

        <%= for (task) in tasksArray { %>
          <tr>
            <td class="wwc-task-name">
  
              <%= if (filterStatus.Completed) { %>
                <a class="wwc-complete-check wwc-task-completed" href="/complete?action=incomplete&id=<%= task.ID %>&status=completed" data-method="PATCH"><i class="far fa-check-circle"></i></a>
              <% } else if (filterStatus.Incompleted) { %>
                <a class="wwc-complete-check wwc-task-incompleted" href="/complete?action=complete&id=<%= task.ID %>&status=incompleted" data-method="PATCH"><i class="far fa-check-circle"></i></a>
              <% } else { %>
                <%= if (task.Completed) { %>
                <a class="wwc-complete-check wwc-task-completed" href="/complete?action=incomplete&id=<%= task.ID %>" data-method="PATCH"><i class="far fa-check-circle"></i></a>
                <% } else { %>
                <a class="wwc-complete-check wwc-task-incompleted" href="/complete?action=complete&id=<%= task.ID %>" data-method="PATCH"><i class="far fa-check-circle"></i></a>
                <% } %>
              <% } %>
              
              <%= if (filterStatus.Completed) { %>
              <a href="/show?status=completed&id=<%= task.ID %>" class="wwc-task-title"><%= task.Title %></a>
              <% } else if (filterStatus.Incompleted) { %>
              <a href="/show?status=incompleted&id=<%= task.ID %>" class="wwc-task-title"><%= task.Title %></a>
              <% } else { %>
              <a href="/show?id=<%= task.ID %>" class="wwc-task-title"><%= task.Title %></a>
              <% } %>
  
            </td>
            <td class="wwc-task-date-and-actions"><%= task.Deadline.Day() %> <%= task.Deadline.Month() %> <%= task.Deadline.Year() %></td>
            <td class="wwc-task-date-and-actions">
  
              <%= if (filterStatus.Completed) { %>
              <a href="/edit?status=completed&id=<%= task.ID %>" class="wwc-edit-item"><i class="fas fa-pencil-alt"></i></a>
              <% } else if (filterStatus.Incompleted) { %>
              <a href="/edit?status=incompleted&id=<%= task.ID %>" class="wwc-edit-item"><i class="fas fa-pencil-alt"></i></a>
              <% } else { %>
              <a href="/edit?id=<%= task.ID %>" class="wwc-edit-item"><i class="fas fa-pencil-alt"></i></a>
              <% } %>
  
              <%= if (filterStatus.Completed) { %>
                <a class="js-wwc-trash-btn" href="/delete?status=completed&id=<%= task.ID %>" data-method="DELETE" data-confirm="Are you sure?"><i class="far fa-trash-alt"></i></a>
              <% } else if (filterStatus.Incompleted) { %>
              <a class="js-wwc-trash-btn" href="/delete?status=incompleted&id=<%= task.ID %>" data-method="DELETE" data-confirm="Are you sure?"><i class="far fa-trash-alt"></i></a>
              <% } else { %>
              <a class="js-wwc-trash-btn" href="delete?id=<%= task.ID %>" data-method="DELETE" data-confirm="Are you sure?"><i class="far fa-trash-alt"></i></a>
              <% } %>
            </td>
          </tr>

        <% } %>
      </tbody>
      <% } %>
    </table>
  </div>