<div class="wwc-form-wrapper shadow wwc-form-signin d-flex align-items-center wwc-my-0 wwc-signin-wrapper">
  <div class="auth-wrapper w-100">
    <div class="sign-form">
      <h1 class="text-center wwc-fsize-main">Sign In</h1>

      <%= form_for(user, {action: "/signin", method: "POST"}) { %>
        <%= f.InputTag("Email") %>
        <%= f.InputTag("Password", {type: "password", style: "margin-bottom: 30px;"}) %>
        <div class="d-flex justify-content-end align-items-center">
          <button class="btn wwc-bg-cyan text-white">Sign In!</button>
        </div>
      <% } %>
    </div>
  </div>
</div>  