<div class="wwc-form-wrapper shadow wwc-form-signin d-flex align-items-center">
  <div class="auth-wrapper w-100">
    <div class="sign-form">
      <h1 class="text-center wwc-fsize-main">Create User</h1>

      <%= form_for(user, {action: usersPath()}) { %>
        <%= f.InputTag("FirstName") %>
        <%= f.InputTag("LastName") %>
        <%= f.InputTag("Email") %>
        <%= f.CheckboxTag("IsAdmin", {label: "Is Admin"}) %>
        
        <div class="d-flex justify-content-end">
          <a class="btn wwc-cancel-btn" href="<%= hrefCancelBtn(context) %>">Cancel</a>
          <button class="btn wwc-bg-cyan text-white">Register!</button>
        </div>
      <% } %>
    </div>
  </div>
</div>