<div class="wwc-form-wrapper shadow wwc-form-signin d-flex align-items-center wwc-my-0">
  <div class="auth-wrapper w-100">
    <div class="sign-form">
      <h1 class="text-center wwc-fsize-main">Register</h1>

      <%= form_for(user, {action: usersPath()}) { %>
        <%= f.InputTag("FirstName") %>
        <%= f.InputTag("LastName") %>
        <%= f.InputTag("Email") %>
        <%= f.InputTag("Password", {type: "password"}) %>
        <%= f.InputTag("PasswordConfirmation", {type: "password", style: "margin-bottom: 30px;"}) %>
        
        <div class="d-flex justify-content-end">
          <a class="btn wwc-cancel-btn" href="/">Cancel</a>
          <button class="btn wwc-bg-cyan text-white">Register!</button>
        </div>
      <% } %>
    </div>
  </div>
</div>