<style>
  .auth-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .auth-wrapper .sign-form{
    max-width: 350px;
    width: 100%;
    padding: 0 20px;
  }

  .auth-wrapper h1{margin-bottom: 20px;}
</style>

<div class="wwc-form-wrapper shadow">
  <div class="auth-wrapper">
    <div class="sign-form">
      <h1 class="text-center wwc-fsize-main">Register</h1>

      <%= form_for(user, {action: usersPath()}) { %>
        <%= f.InputTag("FirstName") %>
        <%= f.InputTag("LastName") %>
        <%= f.InputTag("Email") %>
        <%= f.InputTag("Password", {type: "password"}) %>
        <%= f.InputTag("PasswordConfirmation", {type: "password", style: "margin-bottom: 30px;"}) %>
        
        <div class="d-flex justify-content-end">
          <a class="btn wwc-cancel-btn" href="/">Cancel</a>
          <button class="btn wwc-bg-cyan text-white">Register!</button>
        </div>
      <% } %>
    </div>
  </div>
</div>