<%# new/todo %>

<form method="POST" action="/create" class="wwc-form-wrapper shadow-sm">
    <h3 class="wwc-form-title">New Task</h3>
        <div class="wwc-fields-wrapper d-flex justify-content-between">
            <div class="form-group">
                <label for="todo-title">Title</label>
                <input name="Title" type="text" class="form-control" id="todo-title" aria-describedby="emailHelp"
                    placeholder="Enter title...">
            </div>
            <div class="form-group">
                <label for="todo-date">Limit Date</label>
                <input name="Deadline" type="date" class="form-control" id="todo-date" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="form-group">
            <label for="todo-description">Description</label>
            <textarea name="Description" class="form-control" id="todo-description" rows="3"></textarea>
        </div>
        <div class="form-group wwc-hidden">
            <input name="Completed" type="text" class="form-control" id="todo-completed"
                aria-describedby="emailHelp" value=false>
        </div>
        </div>
        <div class="d-flex justify-content-end">
            <%= if (filterStatus.Completed) { %>
            <a class="btn wwc-cancel-btn" href="/?status=completed">Cancel</a>
            <% } else if (filterStatus.Incompleted) { %>
            <a class="btn wwc-cancel-btn" href="/?status=incompleted">Cancel</a>
            <% } else { %>
            <a class="btn wwc-cancel-btn" href="/">Cancel</a>
            <% } %>
            <button type="submit" class="btn text-white wwc-create-task-btn">Create Task</button>
        </div>
        <% } %>        
</form>